<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<!-- <welcome-file>playersengine/PlayersEngine.html</welcome-file> -->
		<welcome-file>TodoApplication.jsp</welcome-file>
	</welcome-file-list>
	<!-- <welcome-file-list> <welcome-file>questbook.jsp</welcome-file> </welcome-file-list> -->

	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>

	<!-- Servlets -->
	<!-- Greeting -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/starterapplication/greet</url-pattern>
	</servlet-mapping>

	<!-- PlayersServlet -->
	<servlet>
		<servlet-name>playersServlet</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.PlayersServiceImpl</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>playersServlet</servlet-name>
		<url-pattern>/playersengine/players</url-pattern>
	</servlet-mapping>

	<!-- Player JSON -->
	<servlet>
		<servlet-name>jsonPlayer</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.JsonPlayer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jsonPlayerDetail</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.JsonPlayerDetail</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>jsonPlayer</servlet-name>
		<url-pattern>/playersengine/player</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsonPlayerDetail</servlet-name>
		<url-pattern>/playersengine/playerdetail</url-pattern>
	</servlet-mapping>

	<!-- Test TODO -->
	<servlet>
		<servlet-name>CreateNewTodo</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.ServletCreateTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>cz.krajcovic.playersengine.server.ServletRemoveTodo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>

</web-app>
